@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
}
ul {
    list-style: none;
}
a,
button {
    text-decoration: none;
}
button {
    background: none;
    padding: 0;
    border: none;
}
span {
    font-family: 'Inter';
    font-size: 15px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
}
.desktop {
    width: 100%;
    height: 100%;
    background: #fafbfe;
    border-radius: 2rem;
    box-sizing: border-box;
    display: flex;
}

/* Sidebar */
.sidebar {
    box-sizing: border-box;
    background-color: #7ad05b;
    width: 25%;
    height: 100%;
    padding: 1%;
    border-radius: 1.54rem 0 0 1.54rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar__topLine {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 6.06%;
    align-items: center;
}

.sidebar__topLine__span {
    display: block;
    margin-left: 4.3%;
    font-size: 100%;
    color: white;
    width: 100%;
}
.sidebar__button {
    background: #38453b;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: solid 1px #38453b;
    padding: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sidebar__button__fonts {
    color: white;
    font-size: calc(1920 * 0.75vw / 1920);
    font-family: 'Inter';
    font-weight: 500;
    margin-left: 3%;
}
.sidebar__button:hover {
    background: #495a4f;
    cursor: pointer;
}
.sidebar__button:active {
    background: #28312b;
    cursor: pointer;
}

.sidebar__title {
    font-weight: bold;
    font-size: calc(2100vw / 1920);
    color: #38453b;
    margin-bottom: 5%;
    margin-top: 5%;
}

.sidebar__header {
    width: 80%;
    margin: auto;
}

.sidebar__lupa {
    display: flex;
    justify-content: center;
    width: 75%;
    /* height: 30%; */
    margin: 0 auto;
}

.sidebar__logo {
    display: flex;
    justify-content: center;
    height: 8%;
    padding-top: 1.8rem;
}
.sidebar__img {
    max-width: 100%;
    max-height: 100%;
}

/* Main */

.main {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 1%;
}
.card {
    height: 100%;
    width: 50%;
    border-radius: 1.54rem;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-start;
    margin-right: 1%;
    background-color: #f9f9f9;
    flex-wrap: wrap;
}

.card:nth-child(1) {
    justify-content: center;
    width: 80%;
}
.card:nth-child(2) {
    padding: 2%;
}

.card div h2 {
    font-family: 'Inter';
    letter-spacing: 2px;
    opacity: 80%;
}

.card2 {
    height: 37%;
    max-width: 100%;
    border-radius: 1.54rem;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 1%;
    display: flex;
    justify-content: center;
    margin-right: 1%;
    background-color: #f9f9f9;
}
